
<h2> List of authors </h2>
<h3> this table containes : {{authors|length}} </h3>

  {% if authors is defined and authors is not empty %}
<table border="2">
  <tr> 
    <th>Id</th>
    <th>Name</th>
    <th>email</th>
    <th>picture</th>
    <th>nb_books</th>
    <th>Actions</th>
  </tr>
     
  {% set total_books = 0 %}
  <tr  {% for auth in authors%} >
        {% set total_books = total_books+ auth.nb_books %}
        <td> {{auth.id}} </td>
        <td> {{auth.username | upper}} </td>
        <td> {{auth.email}} </td>
        <td> <img src="{{ asset (auth.picture)}}" alt="image" style="width:50px;height:50px" >
        <td> {{auth.nb_books}} </td>
        <td> <a href="{{path ('d',{'id':auth.id})}}">detail </td>
  </tr {% endfor %}>
</table>

{% else%}
<p> no authors found </p>
{% endif %}

{#
<h3> total number of books : {{total_books}} </h3>
#}